<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-light bg-opacity-50">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<div class="modal " id="myModal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete user</h4>
            </div>

            <div class="container pt-4 text-center ">


                <form class="  text-center " action="#">
                    <h6 class="fw-bold">Id</h6>
                    <input class="form-control  w-50 mx-auto" type="text" th:value="${viewuser.id} " disabled>
                    <h6 class=" pt-2 fw-bold">Username</h6>
                    <input type="text" th:value="${viewuser.name}" class="form-control w-50 mx-auto" disabled>
                    <h6 class="pt-2  fw-bold">Password</h6>
                    <input type="text" th:value="${viewuser.password}" class="form-control  w-50 mx-auto" disabled>
                    <h6 class="fw-bold  pt-2">Email</h6>
                    <input type="text" th:value="${viewuser.username}" class="form-control w-50 mx-auto" disabled>
                    <h6 class="fw-bold  pt-2">Roles</h6>
                    <select class="form-control w-50 mx-auto" th:field="${viewuser.roles}" multiple disabled>
                        <option th:each="r : ${userroles}" th:value="${r.id}" th:text="${r.role_name}">
                            select option
                        </option>
                    </select>

                    <div class=" modal-footer">
                        <a href="/admin" type="button" class="btn btn-secondary">Close</a>
                        <a th:href="@{/admin/delete/{id}(id=${viewuser.id})}" class="btn btn-danger">Delete</a>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>



<div>
    <!-- NAVBAR START  -->
    <nav class="navbar navbar-dark bg-dark static-top">

        <div class="container-fluid">
                        <span>
                            <span class="navbar-brand h5"  th:text="${currentuser.username}">example@example.com </span>
                            <span class="navbar-text h5">with roles </span>
                            <span class="navbar-text h5" th:each="role : ${currentuser.roles}">
                                <span th:text="${role}">Role</span>

                            </span>
                        </span>
            <a class="btn btn-secondary btn-dark " href="/logout" type="submit">Log out</a>
        </div>

    </nav>
    <!-- NAVBAR END -->
</div>


<div style="height: 37em" class="col-12 d-flex bg-light">
    <!-- MAIN CONTAINER -->
    <div class=" row container-fluid pt-3 ps-0  h-100 bg-light">




        <!-- side table -->
        <div class=" bg-body col-2 p-0 nav flex-column nav-pills">
            <div class="nav-item">
                <a class="nav-link active" href="/admin">Admin</a>
            </div>
            <div class="nav nav-tabs flex-column border-0">
                    <span class="nav-item ">
                        <a class="nav-link" href="/admin/user">User</a>
                    </span>
            </div>
        </div>

        <!-- tabs with container-->

        <div class="bg-light ps-4 col-10 h-100">
            <p> <h2>Admin panel</h2> </p>

            <!-- tabs -->
            <div class="row">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#userTableTab" type="button" role="tab" aria-controls="userTableTab" aria-selected="true">Table</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="newuser-tab" data-bs-toggle="tab" data-bs-target="#newUserTab" type="button" role="tab" aria-controls="newUserTab" aria-selected="false">New</button>
                    </li>
                </ul>

            </div>




            <!-- users table -->
            <div class="row">
                <div class="tab-content"  id="myTabContent">
                    <div id="newUserTab" role="tabpanel" aria-labelledby="newuser-tab"  class="tab-pane fade">

                    </div>



                    <div id="userTableTab" role="tabpanel" aria-labelledby="home-tab"  class="tab-pane fade show active">
                        <div class="bg-body border row">
                            <p class ="bg-light fs-4 p-2 border-bottom"> All users</p>
                            <div>
                                <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="align-middle" th:each=" user: ${users}">
                                        <th th:text="${user.id}" scope="row">1</th>
                                        <td th:text="${user.username}">$</td>
                                        <td th:text="${user.name}">$</td>
                                        <td>

                                            <div class="" th:each="role : ${user.roles}">
                                                <div class="" th:text="${role}">Role</div>
                                            </div>
                                        </td>


                                        <td>
                                            <a th:href="@{/admin/adminEdit/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/adminDelete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>

                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>




</div>






<script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>



</body>
</html>